body{
    background-color: rgb(11, 44, 189);
}
.contenedor{
    text-align: center;
    padding: 50px;
    max-width: 700px;
    background-color: aqua;
    width: 400px;
    height: 200px;
    position: absolute;
    left: 200px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}