body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f0f0;
}

.contenedor {
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.carta-usuario {
    border: 2px solid #007BFF;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: #e0f7ff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.carta-usuario p {
    margin: 5px 0;
    color: #555;
}

button {
    padding: 10px 20px;
    background-color: #FF5733;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #C70039;
}

.carta-tarea {
    border: 2px solid #007BFF;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: #e0f7ff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.completada {
    background-color: #CFF09E;
}

.no-completada {
    background-color: #FF6F69;
}
